# TODO: Separate SSiT requirements from ours; check everything!
gdown
matplotlib==3.5.1
numpy==1.26.4
tqdm==4.64.0
torchvision
datasets
timm==0.5.4
transformers
scikit-learn
matplotlib
evaluate
accelerate
wandb
albumentations
einops
